*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#main{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    align-items: center;
    font-size: 120%;
    color: #61DAFB;
    background-color:#21222a93;
    justify-content: space-between;
}
.toggle{
    color: #222;
    background-color: rgb(248, 233, 206);
}
nav span{
    display: flex;
    justify-content: space-around;
}
nav h2, nav img{display: inline-block;}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style-type: none;
    padding: 0px 20px;
    
}
nav li:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    color: #3cc9f0;
    cursor: pointer;
}
.content{
    padding:30px 10px;
    color: rgb(233, 233, 233);
    background-color: rgb(70, 70, 70);
    background-image: url("../image/react.svg ");
    background-size: 500px;
    background-position-x: 130%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    height: 100vh;
}
.toggle-content{
    background-color:wheat;
    color: #333;
}
.content_items > li{
   padding-block: 10px;
   margin: 20px 0;
   line-height: 19px;
}
.content_items > li::marker{
    font-size: 1.9rem;
    color: #61DAFB
}
button.icon{
    font-size: 25px;
    display: inline-block;
    color: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}
@media screen  and (max-width: 1000px){
    .content{background-position-x: 180%;}
    nav{font-size: 100%;}
}
@media screen and (max-width: 750px) {
    .content{background-image: none;}
    nav li{font-size: 15px;padding-right: 7px;}
    nav h2{font-size: 100%;}
}
@media screen and (max-width: 440px) {
    nav li{font-size: 12px;padding-right: 3px;}
    nav h2{font-size: 80%;}
}